/* ============================== */
/*            NORMALIZE CSS       */
/* ============================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*# sourceMappingURL=_normalize.scss.map */
* button {
  cursor: pointer;
}
* button:focus {
  outline: none;
}

*::selection {
  background-color: #424242;
  color: #656cc5;
}

* li {
  list-style: none;
}

* ul {
  padding: 0;
}

body {
  background-color: black;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}

.main-color-text {
  color: #656cc5;
  text-shadow: 2px 2px 5px black;
}

@keyframes heartAnimate {
  0% {
    transform: scale(2.5) rotate(-360deg);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes correctLetter {
  0% {
    transform: scale(2) rotateY(180deg);
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes header1Intro {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes header2Intro {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes header3Intro {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes introButton {
  0% {
    transform: translatey(1000px);
    opacity: 0;
  }
}
#settings {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  filter: brightness(3);
  transition: 0.5s;
  opacity: 0.4;
}
#settings:hover {
  transform: rotate(20deg) scale(1.2);
  cursor: pointer;
  opacity: initial;
}

.life-points {
  text-align: center;
  margin-left: 40px;
  transition: 1s;
}

.life-points img {
  width: 60px;
  margin: 10px 15px;
  filter: hue-rotate(465deg);
}

ol {
  padding: 0;
  display: flex;
  justify-content: center;
}

.restore-life {
  animation: heartAnimate 0.6s forwards 0s linear;
  opacity: 0.3;
  filter: brightness(2) blur(2px) grayscale(100%) !important;
}

.no-life {
  animation: heartAnimate 0.6s forwards 0s linear;
  opacity: 0.3;
  filter: brightness(2) blur(2px) grayscale(100%) !important;
}

.popup {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.616);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.popup img {
  margin: auto auto 20px;
}

.popup p {
  text-align: center;
  font-size: 2em;
  margin: 5px auto;
  color: white;
}
.popup p span {
  font-size: 1.5em;
  text-shadow: 1px 1px 10px black;
}

.popup button {
  margin: 20px auto auto;
  width: 200px;
  background-image: linear-gradient(#656cc5, #8769C9);
  padding: 15px;
  color: white;
  font-size: 1.2em;
  border: 1px solid white;
  border-radius: 5px;
  transition: 0.5s;
}
.popup button:hover {
  letter-spacing: 4px;
}

.intro-page {
  font-family: "Raleway", sans-serif;
  font-size: 1.8em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 100vh;
  background-image: linear-gradient(rgba(82, 104, 231, 0.275) 20%, rgba(37, 20, 19, 0.733) 80%), url(../images/spacebg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-group {
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-transform: uppercase;
}

#intro-header-one {
  animation: header1Intro 1s forwards 0s linear;
  margin: auto 0 -30px 30px;
}

#intro-header-two {
  animation: header2Intro 1.25s forwards 0s linear;
  margin-left: 100px;
}

#intro-header-three {
  animation: header3Intro 1s forwards 0s linear;
  margin: -30px 0 0 150px;
}

.intro-page button {
  animation: introButton 2s forwards 0s linear;
  font-size: 0.8em;
  margin: 50px 0 0 200px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  width: 300px;
  background-image: linear-gradient(to right, #e66465, #656cc5);
  color: white;
  text-transform: uppercase;
  transition: 0.8s;
}
.intro-page button:hover {
  letter-spacing: 4px;
}

.panel-container {
  z-index: 1000;
  width: 1px;
  border-right: 1px solid #444444;
  height: 100vh;
  background-color: rgba(25, 30, 46, 0.774);
  padding: 5px 15px;
  transition: 1s;
  position: relative;
  overflow-Y: auto;
}

.panel-overlay {
  background-image: linear-gradient(to right, rgba(101, 108, 197, 0.211) 25%, rgba(0, 0, 0, 0.5) 50%);
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
}

#close-window {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  float: right;
  transition: 0.4s;
  color: gray;
}
#close-window:hover {
  cursor: pointer;
  color: #656cc5;
}

.panel-container hr {
  border: 1px solid #4d4d4d;
}

.button-pair {
  display: flex;
  flex-wrap: nowrap;
}
.button-pair button {
  width: 100%;
}

#show-hint-button {
  margin-right: 10px;
  border: 1px solid #3caa77;
  color: #3caa77;
  border-radius: 3px;
  background-color: transparent;
  transition: 0.4s;
}
#show-hint-button:hover {
  letter-spacing: 5px;
  color: #51e49f;
  border: 1px solid #51e49f;
}

#hide-hint-button {
  border: 1px solid indianred;
  color: indianred;
  border-radius: 3px;
  background-color: transparent;
  transition: 0.4s;
}
#hide-hint-button:hover {
  letter-spacing: 5px;
  color: #f87d7d;
  border: 1px solid #f87d7d;
}

.hint {
  color: #656cc5;
}

.panel-content h2 {
  font-size: 1em;
  border-radius: 5px;
  background-color: rgba(50, 58, 77, 0.445);
  border: 1px solid #a7a7a7;
  padding: 15px 15px;
  display: block;
  margin-top: 30px;
  transition: 0.4s;
}
.panel-content h2:hover {
  letter-spacing: 4px;
  background-color: rgba(101, 108, 197, 0.5);
  cursor: pointer;
  border: 1px solid white;
}

.hints-menu-close,
.keyboard-menu-close,
.reset-menu-close {
  text-align: center;
}

#reset-menu-button {
  width: 100%;
  color: indianred;
  border: 1px solid indianred;
  background-color: transparent;
  padding: 20px 0;
  border-radius: 5px;
  transition: 0.4s;
}
#reset-menu-button:hover {
  letter-spacing: 4px;
  background-color: indianred;
  color: white;
}

.hints-menu-close,
.keyboard-menu-close,
.reset-menu-close {
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: rgba(101, 108, 197, 0.5) !important;
}

.hints-drop-menu,
.keyboard-drop-menu,
.reset-drop-menu {
  border-radius: 3px;
  padding: 15px;
  background-color: rgba(80, 80, 80, 0.17);
}

.keyboard-drop-menu button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  transition: 0.4s;
}
.keyboard-drop-menu button:hover {
  transform: scale(1.1);
}

.light-key-prev {
  border: 1px solid white;
  color: white;
  background-color: transparent;
  transition: 0.4s;
}
.light-key-prev:hover {
  letter-spacing: 4px;
  background-color: white;
  color: black;
}

.dark-key-prev {
  border: 1px solid white;
  color: white;
  background-color: transparent;
  transition: 0.4s;
}
.dark-key-prev:hover {
  letter-spacing: 4px;
  background-color: #25262e;
}

.color-key-prev {
  border: 1px solid white;
  color: white;
  background-color: transparent;
  transition: 0.4s;
}
.color-key-prev:hover {
  letter-spacing: 4px;
  background-image: linear-gradient(rgba(67, 48, 180, 0.548), rgba(248, 88, 109, 0.603)), url(../images/colorkeys.jpg);
}

.keyboard {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
}
.keyboard ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.keyboard li {
  width: 30px;
  text-align: center;
  font-size: 1.8em;
  padding: 20px;
  margin: 0 10px;
  background-color: gray;
  color: black;
  border-radius: 8px;
  border: 1px solid black;
  transition: 0.4s;
}
.keyboard li:hover {
  transform: scale(1.3);
  cursor: pointer;
  border: 1px solid white;
}

.clickedWrong {
  cursor: not-allowed !important;
  background-color: rgba(54, 54, 54, 0.1) !important;
  background-image: none !important;
  text-shadow: none !important;
  color: gray !important;
  filter: blur(2px);
  border: none !important;
  pointer-events: none;
}
.clickedWrong:hover {
  border-color: transparent !important;
  transform: none !important;
}

.clickedCorrect {
  cursor: not-allowed !important;
  background-color: #656cc5 !important;
  background-image: none !important;
  text-shadow: none !important;
  color: black !important;
  pointer-events: none;
}
.clickedCorrect:hover {
  border-color: transparent !important;
  transform: none !important;
}

.gameboard-container {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  color: white;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}

.gameboard-content {
  margin: auto;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.gameboard-content h1 {
  margin: auto;
  text-align: center;
}

.keyboard {
  margin: auto;
}

.phrase {
  margin: auto;
}

.phrase li {
  background-color: gray;
  padding: 10px;
  width: 40px;
}
.phrase li:focus {
  outline: none;
}

#phrase ul {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;
  padding: 0;
}

.letter {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.9em;
  margin: auto 10px;
  background-color: rgba(238, 80, 119, 0.581);
  padding: 15px;
  border-radius: 5px;
  width: 20px;
  color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.space {
  width: 40px;
}

.show {
  animation: correctLetter 0.5s forwards 0s linear;
  background-color: #656cc5;
  color: white !important;
}

.hintDiv {
  color: #656cc5;
  margin: auto;
}

.score1, .score2, .score3, .score4 {
  transition: 3s;
  position: absolute;
  right: 100px;
  top: 600px;
  font-size: 4em;
  color: white;
  opacity: 0.5;
}
.score1 p, .score2 p, .score3 p, .score4 p {
  transition: 2s;
}

.score1 p, .score3 p {
  color: rgba(238, 80, 119, 0.581);
}

.score2 p, .score4 p {
  color: #656cc5;
}

.win {
  opacity: 1;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(67, 48, 180, 0.548), rgba(248, 88, 109, 0.603)), url(../images/winbg.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #343957;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.win h1 {
  color: white;
  margin: auto auto 10px;
}
.win button {
  font-size: 1.2em;
  margin: 10px auto auto;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  width: 300px;
  background-image: linear-gradient(to right, #e66465, #656cc5);
  color: white;
  text-transform: uppercase;
  transition: 0.4s;
}
.win button:hover {
  letter-spacing: 4px;
}

.lose {
  opacity: 0.9;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(158, 72, 72, 0.685) 20%, rgba(15, 21, 31, 0.897) 75%), url(../images/losebg.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.lose h1 {
  color: white;
  margin: auto auto 10px;
}
.lose button {
  font-size: 1.2em;
  margin: 10px auto auto;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  width: 300px;
  background-color: indianred;
  color: white;
  text-transform: uppercase;
  transition: 0.4s;
}
.lose button:hover {
  letter-spacing: 4px;
}

.load {
  height: 100vh;
  width: 100%;
  background-image: url(../images/loader3.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #1B1A30;
}

/*# sourceMappingURL=styles.css.map */
